@media (min-width: 480px) and (max-width: 768px){
   

    #sec-ef{
        display: flex;
        width: 482px;
    }

    #sec-gh{
        display: flex;
        width: 482px;
    }




}

@media (min-width: 768px) and (max-width: 960px){
   #sec-b-all{
       display: flex;
       height: 602px;
   }
   #sec-cd{
       display: flex;
width: 760px;   
}
   #sec-efgh{
       display: flex;
      
   }
   #sec-ef{
       display: flex;
       width: 380px;
   }
   #sec-gh{
       display: flex;
       width: 380px;
   }
   #sec-col{
       display: flex;
       flex-direction: column;
   }
}


