div{
    /* background-color: rgb(190, 190, 190); */
    border: 1px solid black;
    text-align: center;
    font-size: 50px;
    background-color: gray;
}

@media (min-width: 480px) and (max-width: 768px){
    #a{
        height: 75px;
    }

    #b{
        
        height: 150px;

    }

    #c{

height: 125px;
    }

    #d{
        
        height: 125px;
            }

            #e,#f,#g,#h{
                flex-basis: 240px;
                height:250px;
            }

            #i{
                flex-basis: 480px;
                height: 80px;
            }

}

@media (min-width: 768px) and (max-width: 960px){
   body{
    flex-wrap:wrap;
   }
    #a{
        width: 960px;
        height: 100px;
    }
  
    #b{
        width: 200px;
        height: 600px;
    }
  
    #c,#d{
        width: 380px;
        height: 200px;
    }
  
    #e,#f,#g,#h{
        width: 190px;
        height: 250px;
    }
  
    #i{
        width: 758px;
        height: 150px;
        
        
    }
}