@media (min-width: 480px) and (max-width: 768px){

#a{
    background-color: rgb(0, 255, 136);
    } 
    #b{
        background-color: rgb(0, 255, 191);
        } 
        #c{
            background-color: rgb(156, 156, 156);
            } 
            #d{
                background-color: rgb(14, 14, 14);
                } 
                #e{
                    background-color: rgb(255, 174, 0);
                    } 
                    #f{
                        background-color: rgb(255, 0, 76);
                        } 
                        #g{
                            background-color: rgb(217, 255, 0);
                            } 
                            #h{
                                background-color: rgb(255, 0, 242);
                                } #i{
                                    background-color: rgb(0, 255, 128);
                                    } 
                                }
 @media (min-width: 768px) and (max-width: 960px){
    #a{
        background-color: rgb(36, 99, 70);
        } 
        #b{
            background-color: rgb(57, 131, 112);
            } 
            #c{
                background-color: rgb(233, 233, 233);
                } 
                #d{
                    background-color: rgb(61, 1, 1);
                    } 
                    #e{
                        background-color: rgb(148, 119, 56);
                        } 
                        #f{
                            background-color: rgb(133, 70, 89);
                            } 
                            #g{
                                background-color: rgb(104, 112, 61);
                                } 
                                #h{
                                    background-color: rgb(116, 65, 113);
                                    } #i{
                                        background-color: rgb(65, 112, 89);
                                        } 
 }
                               